/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
}

.container__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
} */