@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

#img-banner, header {
  width: 100%;
  background-color: #0191A4;
}

nav {
  background-color: #0191A4;
  text-align: center;
  padding: 20px;
  margin: 0px;
}

a {
  text-decoration: none;
  font: 1.3em 'Poppins', sans-serif;
}

.menu {
  color: #FFFFFF;
  margin-right: 40px;
}

main, #pag-beneficios, #modalidades, #treinos, #pag-agendamento {
  padding: 80px;
}

main {
  background-color: #FFFFFF;
  padding: 80px;
}

h1 {
  color: #3F51B5;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 3em;
  margin-bottom: 20px;
}

p {
  text-align: justify;
  color: #757575;
  font: 18px 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 2em;
}

#pag-beneficios {
  background-color: #0191A4;
}

#pag-beneficios h2, #pag-beneficios p {
  color: #FFF;
  margin-bottom: 20px;
}

#pag-beneficios ul {
  list-style-position: inside;
  list-style: circle;
  margin-left: 70px;
}

#pag-beneficios li {
  color: #FFF;
  font: 1.5em 'Poppins', sans-serif;
  line-height: 2em;
}

h2 {
  color: #3F51B5;
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5em;
}

#modalidades {
  background-color: #EEE;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.card {
  background-color: #FFF;
  width: 24%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #ccc;
}

.card:hover {
  box-shadow: 10px 10px 10px #aaa;
}

.img-card {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.texto-card {
  padding: 20px;
}

h3 {
  color: #3F51B5;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.7em;
  margin-bottom: 14px;
}

.texto-card p {
  text-align: center;
  font: 1em 'Poppins', sans-serif;
  font-weight: 300;
}

#treinos {
  background-color: #FFF;
}

.texto-treinos {
  padding-right: 100px;
}

#treinos p {
  margin-bottom: 30px;
}

.img-contato {
  width: 30px;
  margin: 0 20px;
}

#treinos .container {
  justify-content: center;
  align-items: center;
}

#capa {
  width: 400px;
}

footer {
  background-color: #212121;
  padding: 20px;
}

footer p {
  color: #FFF;
  text-align: center;
}

footer a {
  color: #FFF;
  font: 1em 'Poppins', sans-serif;
}

#pag-agendamento {
  background-color: #F0F0F0;
}

#pag-agendamento p {
  text-align: center;
}

form {
  background-color: #FFF;
  width: 500px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #ccc;
}

label, legend {
  font: 1em 'Poppins', sans-serif;
  font-weight: 300;
}

input, select, textarea, fieldset {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font: 1em 'Poppins', sans-serif;
  font-weight: 300;
  padding: 6px;
  box-sizing: border-box;
}

.item-form {
  width: 32%;
}

form .container {
  justify-content: space-between;
}

input[type= "radio"], input[type = "checkbox"] {
  width: 30px;
  margin-left: 50px;
}

input[type = "submit"], input[type="reset"] {
  background-color: #8BC34A;
  color: #FFF;
  border: none;
  border-radius: 6px;
  width: 48%;
}

input[type="reset"] {
  background-color: #F47E7E;
  color: #FFF;
  border: none;
  border-radius: 6px;
}